<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Challenge 6 Part 2 | ORM</title>
</head>

<body>
    <h1>Mini Challenge 6 Part 2 - Form untuk melakukan update & delete data </h1>
    <ol>
        <li> GET <a href="/users/delete/1"><strong>/users/delete/:id</strong></a> akan menghapus data user dengan id tertentu dari tabel.</li>
        <li> GET <a href="/users/update/1"><strong>/users/update/:id</strong></a> akan menampilkan form ejs yang otomatis berisi data user yang memiliki id tertentu.</li>
        <li> POST <strong>/users/update/:id</strong> akan memperbarui data user dengan id tertentu.</li>
        <li> (extra) GET <a href="/users"><strong>/users</strong></a> akan menunjukkan semua data user dan password.</li>
        <li> (extra) POST <a href="/users/create"><strong>/users/create</strong></a> akan membuat user baru dan GET untuk render halaman <strong>/users/create</strong>.</li>
        <li> (extra) GET <a href="/users/3"><strong>/users/:id</strong></a> akan menunjukkan data user dengan id tertentu.</li>
    </ol>
</body>

</html>